{% extends "govuk/template.njk" %}

{# Import GOVUK components globally #}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{# Import custom components globally #}
{% from "heading/macro.njk" import appHeading %}

{% block head %}
  <link href="{{ getAssetPath('stylesheets/application.scss') }}" rel="stylesheet">
{% endblock %}

{% block header %}
  <div id="app-header">
    {{ govukHeader({
      homepageUrl: "https://www.gov.uk/",
      classes: "app-header",
      containerClasses: "govuk-width-container--fluid",
      serviceUrl: serviceUrl,
      useTudorCrown: true
    }) }}
  </div>
{% endblock %}

{% block pageTitle %}
  {{ pageTitle }} | {{ serviceName }}
{% endblock %}

{# Use 'main' block to bypass the default 960px govuk-width-container #}
{% block main %}
  <div class="app-main-wrapper">
    
    {# 1. Sidebar: Fixed width defined in metrics.scss #}
    {% include 'metrics/partials/_side-bar.njk' %}

    {# 2. Main Content Area: Fills the remaining width #}
    <main class="app-content-area" id="main-content" role="main">
      
      {# Optional Breadcrumbs: inside the content area so they align with the dashboard #}
      {% if breadcrumbs.length > 1 %}
        <div class="govuk-!-margin-bottom-4">
          {{ govukBreadcrumbs({
            items: breadcrumbs,
            classes: "govuk-!-margin-top-4"
          }) }}
        </div>
      {% endif %}

      {% block pageContent %}{% endblock %}
    </main>
  </div>
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        { href: "https://www.gov.uk/help/privacy-notice", text: "Privacy" },
        { href: "https://www.gov.uk/help/cookies", text: "Cookies" },
        { href: "https://www.gov.uk/help/accessibility-statement", text: "Accessibility statement" }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ getAssetPath('application.js') }}"></script>
{% endblock %}